$size: 50px;

body {
  position: relative;
}

.cursor-pointer {
  cursor: pointer;
}

.periodic-table {
  margin: 0 auto;
  max-width: calc(#{$size} * 18 + 100px);

  &__row {
    &--lanthanides {
      margin-top: 16px;
      padding-left: calc(#{$size} * 3 + 16px + 5px);
    }

    &--actinides {
      padding-left: calc(#{$size} * 3 + 16px + 5px);
    }
  }

  &__element {
    height: $size;
    margin: 1px;
    position: relative;
    width: $size;

    &--special {
      margin-right: 16px;
    }

    &--highlighted {
      height: calc(#{$size} + 32px);
      width: calc(#{$size} + 32px);
      box-shadow: 0 0 4px #000;

      .periodic-table__position,
      .periodic-table__name {
        font-size: 12px !important;
      }

      .periodic-table__symbol {
        font-size: 26px !important;
      }
    }

    &--hydrogen {
      background-color: #c6e2ff;
    }
    &--alkali {
      background-color: #ff7373;
    }
    &--alkaline {
      background-color: #ffd700;
    }
    &--transition {
      background-color: #ffa500;
    }
    &--lanthanides {
      background-color: #ffb6c1;
    }
    &--actinides {
      background-color: #40e0d0;
    }
    &--boron-group {
      background-color: #bada55;
    }
    &--carbon-group {
      background-color: #6897bb;
    }
    &--nitrogen-group {
      background-color: #ff7f50;
    }
    &--oxygen-group {
      background-color: #f08080;
    }
    &--halogen-group {
      background-color: #daa520;
    }
    &--noble {
      background-color: #ff6666;
    }
    &--regular {
      background-color: #eeeeee !important;
    }

    &--flip {
      .flip-card {
        perspective: 1000px;
      }

      .flip-card-inner {
        position: relative;
        width: 100%;
        height: 100%;
        text-align: center;
        transition: transform 0.6s;
        transform-style: preserve-3d;
      }

      .flip-card:hover .flip-card-inner {
        transform: rotateY(180deg);
      }

      .flip-card-front,
      .flip-card-back {
        position: absolute;
        width: 100%;
        height: 100%;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
      }

      .flip-card-back {
        transform: rotateY(180deg);
      }
    }
  }

  &__position {
    font-size: 8px;
    left: 2px;
    line-height: 1;
    position: absolute;
    top: 2px;
  }

  &__name {
    font-size: 8px;
    bottom: 1px;
    left: 0;
    padding: 0 2px;
    position: absolute;
    text-align: center;
    width: 100%;
  }
}

.cdk-drop-list-dragging {
  border: 1px dashed;
}
